.ar64 {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
}

	.ar64 .s8.s8c {
		color: #fff;
		background-color: #8115c4;
	}

	.ar64 .s8:first-child {
		margin-left: 0;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	.ar64 .s8 {
		min-width: 28%;
	}
.text_ngang {
	text-decoration: line-through;
}
	.ar64 .s8 {
		font-size: 12px;
		text-align: center;
		color: #fff;
		cursor: default;
		margin: 0 1px;
		padding: 9px 10px 9px 30px;
		float: left;
		position: relative;
		background-color: #bfc0c2;
		transition: all 1s ease;
	}

		.ar64 .s8:before {
			content: ' ';
			position: absolute;
			top: 0;
			right: -19px;
			width: 0;
			height: 0;
			border-top: 19px solid transparent;
			border-bottom: 17px solid transparent;
			border-left: 17px solid white;
			z-index: 2;
			transition: border-color 0.2s ease;
		}

		.ar64 .s8:after {
			content: ' ';
			position: absolute;
			top: 0px;
			right: -16.5px;
			width: 0;
			height: 0;
			border-top: 19px solid transparent;
			border-bottom: 17px solid transparent;
			border-left: 17px solid #bfc0c2;
			z-index: 2;
			transition: border-color 0.2s ease;
		}

		.ar64 .s8.s8c:after {
			border-left: 17px solid #8115c4;
		}

.grap_position_img {
	position: relative;
}

.num_cart {
	position: absolute;
	top: -13%;
	right: 20%;
	padding: 0px 7.6px;
	border-radius: 20px;
	color: white;
	background: #6a6260;
	opacity: 0.8;
}

.grap_cart_comfirm {
	border-left: 1px solid #ddd;
	min-height: 800px;
	padding: 100px 60px 0px;
	background-color: #f5f5f5;
}

.grap_image_cart {
	position: relative;
}

	.grap_image_cart img {
		border-radius: 4px;
	}

.sen22 {
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
}

.gral_cart_text_comfirm div {
	font-size: 13px;
	font-weight: 400;
	margin-right: 20px;
}

.grap_full {
	justify-content: space-between;
	align-items: center;
}

.price_c {
	font-size: 13px;
	font-weight: 700;
	margin-right: 15px;
}

.sen_cart_confirm {
	border-bottom: 1px solid #ddd;
	margin: 20px 0px;
}

.grap_total_c {
	justify-content: space-between;
	padding: 20px 0px;
}

.grap_left_cart {
	padding-left: 50px;
	padding-right: 100px;
}

.color_usui {
	color: #aaa9a9;
}

.color_pink_half {
	color: palevioletred;
}

.input_width {
	width: 100%;
	height: 45px;
}

.grap_btn_comfirm_cart {
	margin: 40px 0px;
	padding-left: 30px;
	align-items: center;
	justify-content: space-between;
}

	.grap_btn_comfirm_cart a {
		text-decoration: none;
		color: palevioletred;
		font-size: 15px;
		font-weight: 400;
	}

	.grap_btn_comfirm_cart button {
		padding: 20px 17px;
		color: white;
		background-color: #ee4382;
		font-weight: 600;
		border-color: transparent;
		border-radius: 7px;
	}
/* css delivery */
.comfirm_infor {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.grap_com {
	border: 1px solid #ddd;
	border-radius: 4px;
}

.bd-none {
	border: transparent;
	padding: 0px;
}
/* css delivery */
/* css payment */
.visa {
	background-color: #142688;
	color: white;
	padding: 0;
}

.grap_discard {
	border: 1px solid #ddd;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding: 10px 10px;
}

.grap_card_number {
	padding: 20px;
	border: 1px solid #ddd;
	border-top: transparent;
}

.font_input {
	font-size: 13px;
}

.amex {
	color: rgb(4, 102, 194);
}

.grap_btn_payment {
	margin: 20px 0px;
	padding-left: 30px;
	align-items: center;
}

	.grap_btn_payment a {
		text-decoration: none;
		color: palevioletred;
		font-size: 15px;
		font-weight: 400;
	}

	.grap_btn_payment button {
		padding: 20px 17px;
		color: white;
		background-color: #ee4382;
		font-weight: 600;
		border-color: transparent;
		border-radius: 7px;
	}
/* css payment */
.add_new_address {
	padding: 8px 20px;
	color: #ee4382;
	background-color: white;
	border: transparent;
	border-radius: 3px;
	margin-top: 30px;
}
.add_new_address a {

	text-decoration: none;
}

/* Css login */
.modal__body {
	width: 600px;
	background-color: white;
	margin: auto;
	margin-top: 100px;
	z-index: 2;
	border-radius: 10px;
	overflow: hidden;
}

.modal__body-address {
	position: fixed;
	top: 5%;
	left: 35%;
	display: none; 
}
.gral_all_ad_grap {
	height: 400px;
	overflow: auto;
}
.form2 {
	padding: 36px;
}

.modal__inner-heard_ad {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 30px;
}

.modal__inner-content-input {
	width: 100%;
	height: 50px;
	padding: 0px 12px;
	border-radius: 2px;
	border: 1px solid rgb(192, 189, 189);
	margin-bottom: 15px;
	outline: none;
}
.gral_all_ad {
	margin: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #eae8e8;
}

.btn_gr div {
	color: rgb(38, 142, 254);
	cursor: pointer;
}
.btn_gr a {
	text-decoration: none;
	color : deeppink
}
.form_control_2_number {
	width: 30%;
}

.form_control_22 {
	width: 65% !important;
}

.btn_com {
	padding: 8px 20px;
	color: white;
	background-color: rgb(253, 85, 24);
	border: transparent;
	border-radius: 3px;
}
/* css profile */
.modal__body {
	width: 600px;
	background-color: white;
	margin: auto;
	margin-top: 100px;
	z-index: 2;
	border-radius: 10px;
	overflow: hidden;
}

.modal__inner {
	z-index: 1;
	width: 600px;
}

.modall {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: none;
	background-color: rgba(0,0,0,0.3);
}

.form, .form2 {
	padding: 36px;
}

.modal__inner-heard {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 70px;
}

.modal__inner-heard-register {
	font-weight: 350px;
	font-size: 1.6rem;
}

.modal__inner-heard-login, .modal__inner-heard-registration {
	color: rgb(24, 125, 247);
	text-decoration: none;
	font-size: 1.2rem;
}

.modal__inner-content-input {
	width: 100%;
	height: 50px;
	padding: 0px 12px;
	border-radius: 2px;
	border: 1px solid rgb(192, 189, 189);
	margin-bottom: 15px;
	outline: none;
}

.rules {
	line-height: 16px;
	font-size: 14px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 70px;
}

.btn-location {
	display: flex;
	justify-content: right;
}

.btn.btn--register {
	color: white;
	background-color: rgb(24, 125, 247);
}

.modal__body-registration, .modal__body-login {
	position: fixed;
	top: 5%;
	left: 35%;
	display: none;
}

.rules-content {
	text-decoration: none;
	color: rgb(24, 125, 247);
}

.modal__inner-help {
	text-align: right;
	margin-bottom: 100px;
	display: flex;
	justify-content: flex-end;
}

.modal__inner-help-link1, .modal__inner-help-link2 {
	text-decoration: none;
}

.modal__inner-help-link1 {
	color: rgb(24, 125, 247);
}

.modal__inner-help-link2 {
	color: #939393;
}

.space {
	width: 1px;
	height: 22px;
	background: #939393;
	margin: 0 20px;
}

.chirld_grap_2 {
	background-color: white;
	position: absolute;
	top: 103%;
	width: 100px;
	right: 0;
	border: 1px solid #f0f0f0;
	border-radius: 3px;
}


	.chirld_grap_2 a {
		display: block;
		padding: 5px 10px;
		color: black;
		padding-left: 15px;
		text-decoration: none;
	}

		.chirld_grap_2 a:hover {
			color: rgb(253, 91, 32);
		}

	.chirld_grap_2::after {
		content: "";
		position: absolute;
		background-color: transparent;
		height: 10px;
		width: 200px;
		top: -10px;
	}

.chirld_grap_2 {
	display: none;
}

.grap_price_2 {
	position: relative;
}

	.grap_price_2:hover .chirld_grap_2 {
		display: block;
	}

.display_block {
	display: block;
}

#message_error {
	text-align: center;
	margin-bottom: 20px;
	color: red;
}
/* Css login */
.modall_ad {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: none;
	z-index:2;
	background-color: rgba(0,0,0,0.3);
}
.none_click{pointer-events: none; opacity:0.8;}