
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutCommom.cshtml";
    @Styles.Render("~/Resources/css/view_cart.css")

}

<div class="container mb-5">
    <div class="d-flex flex_space view_cart_grap">
        <div class="shop_cart_title">Shopping Cart</div>
        <div class="clean_cart">Clear Cart</div>
    </div>
    <div class="sen"></div>
    <div class="row list_cart_view_grap">
        <div class="col-8 list_cart_view_grap_all">
            @* View cart here*@


        </div>
        <div class="col-4 calendar">
            <div class="container">            
                <div class="d-flex" style="justify-content: space-between;">
                    <div class="TOTAL_COLOR">Subtotal</div>
                    <div class="TOTAL_COLOR total_total">$59.90</div>
                </div>
                <p>Orders will be processed in SGD.</p>
                <div class="">
                    <a href="/Check_Out" style="color:white"><button class="btn_checkout">ORDER</button></a>
                </div>
                <div class="text-center mt-4 mb-4">
                    <a class="continue-shopping" href="HomePage">CONTINUE SHOPPING</a>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Resources/js/view_cart.js")
@Scripts.Render("~/Resources/js/message.js")
