
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutCommom.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link ref="stylesheet" href="/css/terms_conditions.css">
</head>
<body>
    <style>


       

        .column {
            margin-left: 10px;
            margin-right: 10px;
        }

        .one-whole {
            width: calc(100% - 20px);
        }

        .feature_divider {
            width: 100%;
            margin-bottom: 20px;
            display: block;
            border: 0;
            border-color: #aaa;
            border-bottom-width: 1px;
            border-bottom-style: solid;
        }

        .rte {
            word-break: break-word;
        }




    </style>
    <div class="container">
        <div class="one-whole column">
            <h1>Terms & Conditions</h1>
            <div class="feature_divider"></div>
        </div>

        <div class="one-whole column rte">
            <p>By placing an order on this website, you are agreeing to the following terms and conditions:</p>
            <p>
                <strong>Order Acceptance Policy</strong>
            </p>
            <p>All orders and other requests received are subject to acceptance by Flower Chimp Pte Ltd, and any of its personnel, reserve the right, at our absolute discretion, to reject any order without providing reasons. In the event of rejection, we will refund or cancel any payments received in full, via the payment method used to place the order.</p>

            <p>
                <strong>Delivery of your order</strong>
            </p>
            <p>Yes, we do! Please refer to the following details:</p>

            <ul>
                <li>Monday to Saturday: please place the order latest by 5:00 PM for same day delivery.</li>
                <li>Sunday : Please place the order latest by 2.00PM for same day delivery</li>
            </ul>

            <p>Orders placed after these cut off times will be delivered according to the delivery date and time slot selected by the customer on the cart page.</p>

            <p>
                <strong>Changes to your order</strong>
            </p>
            <p>
                If you wish to make any changes your order, please do so by contacting us at
                <span>
                    <a href="">
                        <u>florist@gmail.com</u>
                    </a>
                </span>
                &nbsp;or via phone +01 2345 6789 (Mon-Sun, 9:00 AM-5:00 PM).
                We will always do our best to make last-minute changes for you, but we can only guarantee changes (including to the delivery address and in relation to card messages) that are requested by 12:00 PM one (1) day before the intended delivery day.
            </p>

            <p>
                <strong>Cancellation policy</strong>
            </p>
            <p>
                On demand orders can be cancelled by 12PM one (1) day before the intended delivery day and a full refund will be issued. You can cancel by contacting
                <span>
                    <a href="">
                        <u>florist@gmail.com</u>
                    </a>
                </span>
                or via phone&nbsp;
                <span>+01 2345 6789 (Mon-Sun, 9:00 AM - 5:00 PM).</span>
            </p>

            <p>
                <strong>Product Availability and Substitution Policy</strong>
            </p>
            <p>
                All products and flowers are subject to availability. In the event of any supply difficulties or if the flowers we have received from our growers that are needed to make up your order do not meet our high quality standards, we reserve the right, at our absolute discretion, to substitute any product with an alternate product of a similar style and equivalent (or greater) value and quality, without notice. The substitution may includes flower types, flower colors, wrapping paper, vases and any other material used in our flower arrangements.
                <br>
                The order that we are unable to supply the product or any substitute product to you at all, we shall notify you as soon as is reasonably possible and shall reimburse your payment in full.
                <br>
                Please note that the size of the bouquet, shades, color and stages of bloom might vary from the pictures shown. Flowers are perishable items and they are not guaranteed to be completely flawless, we appreciate the understanding from all the customers in advance.
            </p>

            <p><strong>Payments</strong></p>
            <ol>
                <li>We accept Visa, MasterCard cards. In order to offer the best security, all our payments are processed securely via various payment gateways like Stripe.</li>
                <li>If you create an account, your&nbsp;shipping details will be stored securely so that you can check out easily on future visits without re-entering your card details.</li>
                <li>We never store or have access to your credit or debit card details.</li>
            </ol>

            <p>
                <strong>Prices and Additional Charges</strong>
            </p>

            <ol>
                <li>All prices&nbsp;exclude&nbsp;delivery charges unless otherwise stated.</li>
            </ol>

            <p>
                <strong>Delivery policy</strong>
            </p>
            <ol>
                <li>Flower deliveries can be done on Mondays to Sundays.</li>
                <li>Timed deliveries are not available.</li>
                <li>Although our team will always try our best to ensure punctual delivery for our customer,&nbsp;Florist&nbsp;cannot be held responsible if a delivery arrives late due to any circumstances impacting the availability of the courier service that we use or anything else outside of Florist's control.</li>
                <li>
                    In the event of a non-delivery, please contact us at
                    <a href="">
                        <u>florist@gmail.com</u>
                    </a>
                    or via phone&nbsp;
                    <span>+01 2345 6789 (Mon-Sun, 9:00 AM - 5:00 PM).</span>
                    It is the customer's responsibility to contact us within one (1) day (24 hours) of the scheduled delivery date in order to claim a refund. Failure to do so will result in the lapse to any rights of a refund.
                </li>
                <li>Florist&nbsp;delivers throughout Singapore. However in the event where the delivery location is too remote or unreachable by our branch, we will contact you before the intended delivery date to offer a full refund and cancellation of your order. We&nbsp;are not able to&nbsp;deliver to PO boxes.</li>
                <li>We reserve the right, at our absolute discretion, to use a different delivery method without prior notification.</li>
                <li>In the event if the delivery details provided is incorrect (example: Wrong address / contact / name) we cannot accept responsibility for the failed delivery. We will arrange to re-deliver but a re-delivery fee may be incurred.</li>
            </ol>

            <p>
                <strong>Freshness</strong>
            </p>
            <p>
                We promise to send you the freshest of flowers and this would mean that they will occasionally come in bud form which will last longer (For example: Lily in bud form). If you receive flowers that do not seem fresh, please contact our customer care at
                <a href="">
                    <u>florist@gmail.com</u>
                </a>
                &nbsp;to inform us immediately. If, at our discretion, the flowers do not meet our high freshness standards, we will give you the choice of a replacement at our next available delivery date or a refund. In your email, please include a photo of the un-fresh flowers within 24 hours of receipt in order to be eligible for a refund. If we offer you a refund, please note that banks generally take up to 10 business days to process and transfer the funds into your account. Some banks can take up to 15-30 days, or until your next billing cycle. Flower Chimp has no influence over these timescales.
            </p>

            <p>
                <strong>Damage</strong>
            </p>
            <p>
                Our flowers are wrapped or arranged carefully to ensure they arrive as beautiful and as fresh as when they left us. However, on a small number of occasions (and for reasons beyond our control) they may get damaged during transit. Should this occur to a level that you deem unacceptable, please contact our customer care at
                <a href="">
                    <u>florist@gmail.com</u>
                </a>
                &nbsp;to inform us immediately with images to support your claim so that we can arrange a replacement at our next available delivery date, or a refund. Please note that you will need to email us a photo of the damaged flowers within&nbsp;24 hours of receipt in order to be eligible for a refund. If we offer you a refund,&nbsp;please note that banks generally take up to 10 business days to process and transfer the funds into your account. Some banks can take up to 15-30 days, or until your next billing cycle.&nbsp;Florist has no influence over these timescales.
            </p>

            <p>
                <strong>Non Delivery</strong>
            </p>
            <p>
                We do everything we can to ensure our flowers are delivered. If for any reason we made a mistake and deliveries don't turn up, (i.e. if your flowers have not arrived on their intended delivery date), please contact our customer care at&nbsp;
                <a href="">
                    <u>florist@gmail.com</u>
                </a>
                .&nbsp;to inform us. We will send you a replacement on our next available delivery date, or a refund. If we offer you a refund,&nbsp;please note that banks generally take up to 10 business days to process and transfer the funds into your account. Some banks can take up to 15-30 days, or until your next billing cycle.&nbsp;Florist has no influence over these timescales.
            </p>

            <p>
                <strong>Satisfaction Guarantee</strong>
            </p>
            <p>Satisfying you and your recipient&nbsp;is our ultimate aim. We always strive to deliver fresh flowers at its best condition and on time.</p>

            <p>
                <strong>Return and Refunds Policy</strong>
            </p>
            <p>To be eligible for returns and refunds, you should report your case within 24 hours upon delivery of your flowers and is subjected to a mandatory review and investigation process by our Customer Support team. The flowers should also remain the same way as delivered. When filing your report, kindly provide us with your order number, several pictures of the defective product, and reasons on why are you requesting for a return or refund. In all other cases, it is the responsibility of the recipient to care for the flowers once it has been delivered.</p>
            <p>&nbsp;</p>

            <p>
                <strong>Offers and promotion codes</strong>
            </p>
            <ol>
                <li>At our discretion, from time to time, we may offer products at discounted prices. These offers are valid from the time that we introduce them to the end date of the offer and they cannot be used for purchases before the offer introduction date or after the offer end date.</li>
                <li>In the event that a customer has made a purchase and the price of the purchased product subsequently falls or is discounted owing to a special offer, the price of the product at the time of purchase shall prevail. We are unable to offer special offer discounts for purchases that have already been made.</li>
                <li>As our special offers are contingent on availability, we may change the terms of special offers, or withdraw them altogether, at any time, and without prior notice.</li>
                <li>We also reserve the right, at our absolute discretion, to offer different personalized special offers and promotions and it will therefore only be possible for the customer in receipt of the special offer to redeem the discount.</li>
                <li>Unless explicitly otherwise stated, free or discounted introductory offers are only available to new users of the&nbsp;Florist service, and are only available once to any one person.</li>
                <li>Discounts and credits cannot be used in conjunction with any other offers.</li>
                <li>Unless otherwise stated, we only allow one promotion code to be used per order.</li>
            </ol>

            <p>
                <strong>Circumstances beyond our control</strong>
            </p>

            <p>
                <strong>Adverse weather conditions</strong>
            </p>
            <p>During adverse weather conditions (including heavy rain, storm, typhoon, and flood), our delivery partners may not be able to deliver orders on time. This is outside of our control and we cannot accept responsibility for the late delivery of the order. Therefore, in the event of adverse weather conditions, we aren't able to refund or offer re-delivery of affected orders.</p>

            <p>
                <strong>Force Majeure</strong>
            </p>
            <p>Florist&nbsp;shall not be liable for delay in performing or for failure to perform its obligations if the delay or failure results from any of the following: (i) Acts of God, (ii) outbreak of hostilities, riot, civil disturbance, acts of terrorism, (iii) the act of any government or authority (including refusal or revocation of any license or consent), (iv) fire, explosion, flood, fog or adverse weather, (v) power failure, failure of telecommunications lines, failure or breakdown of plant, machinery or vehicles, (vi) default of suppliers, sub-contractors or delivery partners, (vii) theft, malicious damage, strike, lock-out or industrial action of any kind, and (viii) any cause or circumstance whatsoever beyond Florist's reasonable control.</p>

            <p>
                <strong>Customer and recipient personal information</strong>
            </p>
            <ol>
                <li>To ensure that we can communicate effectively with both customers and recipients, it is very important that you provide accurate personal information.</li>
                <li>Please remember that we value your privacy and will never lease, rent or sell your private information. For more information, please see our privacy policy.</li>
                <li>During the checkout process, we ask for the following personal information:</li>
            </ol>

            <p>
                <strong>Customer's email address</strong>
            </p>
            <p>We use this information to provide a better customer experience by sending order confirmations, substitution information, dispatch confirmations and delivery confirmations. We will also use the customer's email for marketing communications from time to time. Please ensure that email addresses are accurate.</p>

            <p>
                <strong>Customer's full name and address</strong>
            </p>
            <p>We use this information for credit and debit card validation.</p>

            <p>
                <strong>Customer's telephone number</strong>
            </p>
            <p>We use this information to contact customers in the event of problems with the order such as payment failures or delivery issues.</p>

            <p>
                <strong>Recipient's full name, contact, and address</strong>
            </p>
            <p>We require this information in order to deliver the flowers you have ordered. It is vital that the recipient's address and contact is accurate.</p>

            <p>
                <strong>Postal Address:</strong>
            </p>
            <div>
                Florist Store Pte. Ltd. (Florist Store)
                <br>
                <div>54 Le Thanh Nghi, Hai Ba Trung&nbsp;</div>
                <p>10000 Ha Noi, VietNam</p>
            </div>
        </div>
    </div>
</body>
</html>
